.menuPage {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/bg.png');
    background-size: cover;
}

.bgGirl {
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
 
    height: 100%;
    width: 40%;

    transform: translateX(50%);
   

    background-image: url("../../images/girl.png");
}

.menuContainer {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.menuItem {
    z-index: 2;
    height: 70px;
    width: 250px;
    font-weight: 800;
    cursor: pointer;
   
    background: linear-gradient(180deg,yellow,orange);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    font-size: 30px;
    text-shadow: black 2px 5px 5px;

    border: 2px solid rgba(255, 255, 255, 0.842);
}